* {
    margin: 0px;

}

body {
    line-height: 1.5;
    background-color: bisque;
    padding: 10px;


}

header {
    text-align: center;
    border-radius: 15% 15%;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
    height: 150px;
    font-weight: bold;
    padding: 2rem 0;
    color: black;
    background-image: url(photo/05419b071639a2de157529f3951d1084.jpg!con);

}

.section01 h2 {
    font-size: 50px;
    margin-left: 5%;
}

.img101 {

    border-radius: 75%;
    height: 300px;
    width: 300px;
    margin-left: 35px;
    margin-top: 20px;

}

nav {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

nav a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px 15px;

}

.name {
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-top: 100px;
}

.section01 {
    border-radius: 10px 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    padding: 4rem;
    margin: 10px;
    text-align: center;
    background-image: url(photo/th.jpg);

}

.interests {
    padding: 0 50px 50px;
}

.interests ul {
    display: flex;
    gap: 40px;
    margin-top: 40px;
    justify-content: space-around;

}

.interests ul li {
    list-style: none;
    color: white;
    width: calc(100%/6);
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: rgb(139, 127, 11);
    border: 2px solid white;
    text-align: center;
    animation-name: interest;
    animation-duration: 5s;
    animation-iteration-count: infinite;

}

@keyframes interest {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.08);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.08);
    }
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    background-image: url(photo/th2.jpg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px 40px;
}


section p {
    margin-top: 15px;

}

.ig {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    border-radius: 75%;
}

.photo {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.fix-setting {
    display: flex;
    justify-content: space-around;
    margin: 30px;


}

.fix-setting h3 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;

}

h2,
h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}

.setting {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.school {
    width: 165px;
    height: 165px;
    border-radius: 100%;
    margin: 10px;

}

.spot1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: border;
}

.shape {
    animation-name: skill;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    display: flex;
    position: relative;
    padding: 2px;
    top: 25%;
    left: 40%;
    width: 150px;
    height: 173px;
    line-height: 20px;
    background: rgb(148, 218, 101);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    margin-left: 1%;
    margin-top: 75px;
    margin-bottom: 90px;
}

@keyframes skill {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.08);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.08);
    }
}

.C img {
    display: flex;
    position: absolute;
    left: 57%;
    top: 309%;
    width: 70px;
}

.C p {
    display: flex;
    position: absolute;
    left: 56%;
    top: 313%;
    font-size: medium;
    font-size: 30px;
}

.Ccc img {
    display: flex;
    position: absolute;
    left: 57%;
    top: 292%;
    width: 74px;
}

.Ccc p {
    display: flex;
    position: absolute;
    left: 56%;
    top: 296%;
    font-size: medium;
    font-size: 30px;
    margin-left: 1%;
}

.html img {
    display: flex;
    position: absolute;
    left: 47.5%;
    top: 281%;
    width: 80px;
}

.html p {
    display: flex;
    position: absolute;
    left: 47.5%;
    top: 285%;
    font-size: medium;
    font-size: 30px;
    margin-left: 1%;
}

.css img {
    display: flex;
    position: absolute;
    left: 48%;
    top: 315%;
    width: 70px;
}

.css p {
    display: flex;
    position: absolute;
    left: 47.5%;
    top: 322.5%;
    font-size: medium;
    font-size: 30px;
    margin-left: 25px;

}

.java img {
    display: flex;
    position: absolute;
    left: 38%;
    top: 292%;
    width: 80px;
}

.java p {
    display: flex;
    position: absolute;
    left: 39%;
    top: 297%;
    font-size: medium;
    font-size: 30px;
}

.python img {
    display: flex;
    position: absolute;
    left: 38%;
    top: 307%;
    width: 65px;
    margin-left: 15px;
}

.python p {
    display: flex;
    position: absolute;
    left: 38%;
    top: 315%;
    font-size: medium;
    font-size: 20px;

}

.shape h2 {
    margin-left: 32%;
    color: beige;


}

.tool1 {
    margin-top: -72px
}

.text {

    line-height: 1.6px;


}

.experenice {

    margin: 15px 15px;
    border-radius: 100%;
    width: 400px;
    height: 400px;
    margin-left: 200px;


}

.bar-chart {
    width: 300px;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30PX;
    color: red;
}

.bar {
    background-color: #4CAF50;
    height: 20px;
    margin-bottom: 5px;
    transition: width 0.5s;

}