* {
    margin: 0px;

}

body {
    line-height: 1.5;
    background-color: bisque;
    padding: 10px;


}

header {
    text-align: center;
    border-radius: 15% 15%;
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 250%;
    height: 150px;
    font-weight: bold;
    padding: 2rem 0;
    color: black;

}

.img101 {

    border-radius: 75%;
    height: 300px;
    width: 300px;
    margin-left: 35px;
    margin-top: 20px;

}

.name {
    font-size: 300%;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-top: 100px;
}

.section01 {
    border-radius: 10px 40px;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    padding: 4rem;
    margin: 10px;
    text-align: center;
    background-image: url(th.jpg);

}

.section01 h2 {
    font-size: 30px;
}

.section02 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin: 120px 300px
}

nav {
    text-align: center;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

nav a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 15px 15px;

}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 2em;
    background-image: url(th1.jpg);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px 40px;
}

.ig {
    width: 70px;
    height: 70px;
    margin-top: 15px;
    border-radius: 75%;
}

.photo {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.fix-setting {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

h2,
h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}

.setting {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}